@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

 .nav {
     list-style-type: none;
    background-color: #ccc;
    padding: 0;
     margin: 0;
   
}

.nav a{
    display: block;
    text-decoration: none;
    color: #0074D9;
   
}

header {
    background-color: #ccc;
    margin: 0;
    padding: 0;
}


.title {
     text-align: center;
    margin: 0;
    
}

@media only screen and (min-width: 20em) {
    header{
        text-align: center;
    }
    
    .nav li {
        display: inline-block;
    }
}

@media only screen and (min-width: 40em) {
    
    header {
        text-align: left;
        overflow: hidden;
    }
        
.title {
    float: left;
    margin: 0;
}
 
}


.grey {
    background-color: #e2e2e2;
    text-align: center;
}

    .foot {
        background-color: #ccc;
    }




.head {
    
    overflow: hidden;
}




p {
    margin: 0;
    padding: 0;
}

.light-grey {
    background-color: #cfcfcf;
    
}


.light {
    background-color: grey;
}

.foot {



